
div{
    font-display: center;
}
.t1
{
    
    background-color: grey ;
    height: 100;
    width: 1455;
    padding-top: 50;
    border:3px gray;
    text-align: center;
}
.t3
{
    background-color: grey ;
    height: 50;
    
    padding-top: 40;
    border:3px gray;
    text-align: center;
}
.t4{
    background-color: grey ;
    height:20;
   width:20%;
    padding-block: 15%;
    /*column-width: 30%;
    box-sizing: 5; */
    text-align: center;
    display: inline-block;
}
.t5
{
    background-color: grey ;
    height: 20;
    width: 58%;
    padding-block: 15%;
    border:3px gray;
    text-align: center;
    display: inline-block;
}
.t6
{
    background-color: grey ;
    height: 20;
    width: 21%;
   
    border:3px gray;
    padding-block: 15%;
    text-align: center;
    display: inline-block;
}
.t7
{
    background-color: grey ;
    height: 50;
    
    padding-top: 30;
    border:3px gray;
    text-align: center;
}



