
div{
    font-display: center;
}
.t1
{
    
    background-color: grey ;
    height: 100;
    width: 1455;
    padding-top: 50;
    border:3px gray;
    text-align: center;
}
.t3
{
    background-color: grey ;
    height: 50;
    margin-top: 10;
    padding-top: 40;
    border:3px gray;
    text-align: center;
    margin-bottom: 10;
}
.bord
{
    display: flex;
    justify-content: space-between;
}
.t4{

    background-color: grey ;
    height:20;
   width:19%;
    padding-block: 15%;
    text-align: center;
    display: inline-block;
}
.t5
{
    background-color: grey ;
    height: 20;
    width: 61%;
    padding-block: 15%;
    border:3px gray;
    text-align: center;
    display: inline-block;
}
.t6
{
    background-color: grey ;
    height: 20;
    width:19%;
   
    border:3px gray;
    padding-block: 15%;
    text-align: center;
    display: inline-block;
}
.t7
{
    background-color: grey ;
    height: 50;
    margin-top: 10;
    padding-top: 30;
    border:3px gray;
    text-align: center;
}



